body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

nav {
    position: relative; /* Diubah dari relative menjadi fixed */
    top: 0; /* Pastikan berada di atas halaman */
    left: 0;
    right: 0;
    margin: 0 auto; /* Hilangkan margin vertikal */
    width: fit-content; /* Ubah agar lebar penuh */
    height: 70px;
    background: #ececec;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    z-index: 1000; /* Pastikan berada di atas elemen lainnya */
}

nav a {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 70px;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-align: center;
    width: 150px;
    transition: background 0.3s ease;
    }

nav a:nth-child(1) {
    background: #48c0b6;
}
nav a:nth-child(2),
nav a:nth-child(3),
nav a:nth-child(4) {
    background: #ececec;
    color: #333;
    
}

nav a:hover {
    background: #3d3d3d;
    color: white;
    border-bottom:10px #48c0b6;
    z-index: 1;
}

nav .animation {
    position: absolute;
    height: 5px;
    bottom: 0px;
    z-index: 1;
    background: #48c0b6;
    width: 0;
  
}

nav a:nth-child(1):hover~.animation {
    width: 150px;
    left: 0;
}

nav a:nth-child(2):hover~.animation {
    width: 150px;
    left: 150px;
}

nav a:nth-child(3):hover~.animation {
    width: 150px;
    left: 300px;
}

nav a:nth-child(4):hover~.animation {
    width: 150px;
    left: 450px;
}
